<html>
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="./static/css/user.8519fb5acd6.css" rel="stylesheet">
    <title>Чат</title>
</head>
<div class="m-0">
    <button type="button" class="btn btn-primary" style="margin: 0 auto; display: block;" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">задать вопрос выступающему</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Авторизация</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <form id="form-auth">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Имя:</label>
                        <input type="text" required class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="school" class="col-form-label">Школа, класс:</label>
                        <input type="text" class="form-control" id="school">
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="text" class="col-form-label">Телефон:</label>
                        <input type="text" class="form-control" id="phone">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" required class="col-form-label" id="pd">
                        <label class="form-check-label" for="pd">Соглашение о персональных данных</label>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="auth" class="btn btn-primary" value="Войти"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<div class="content container-fluid bootstrap snippets" style="display: none;">
    <input class="btn btn-primary" type="button" onClick="delete localStorage.token; location.href='/';" value="Выйти">
    <div class="row row-broken">
        <div class="col-sm-12 col-xs-12 chat" tabindex="5001">
            <div class="col-inside-lg decor-default">
                <div class="chat-body">

                    <div id="chat-messages">
                        <div class="answer left">
                            <div class="avatar">
                                <img src="https://ptetutorials.com/images/user-profile.png" alt="User name">
                            </div>
                            <div class="name">Модератор</div>
                            <div class="text">Здравствуйте!<br>Здесь Вы можете задать вопрос.</div>
                            <div class="time"></div>
                        </div>
                    </div>
                </div>
                <div class="answer-add">
                    <input placeholder="Введите сообщение и нажмите enter">
                    <span class="answer-btn answer-btn-2">
                        <a class='btn btn-primary' href='javascript:;'>
                            Загрузить
                            <input type="file" id="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40">
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./static/js/user.8519fb5acd6.js" crossorigin="anonymous"></script>
</body>
</html>
